<header>

    <h1>TinyApp </h1>
<% console.log(user_id) %>
<% if(user_id == undefined) {%>
           <h2>
                <form method='post' action="/login">
                    <a href='/login'>Login</a>
                </form>
                <form method='get' action='/register'>
                    <a href='/register'>Register</a>
                </form>
            </h2>
<% } else { %>
    <form method='post' action='/logout'>
        <%='Logged in as:'%> <%= user_id.email%>
        <input type='submit' value='Sign Out' name='user_id'>
    </form>
<% } %>





</header>
